<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Dodaj grę</title>
<link rel="stylesheet" href="mystyle.css">
</head>
<body>
    <h1> Game DATA </h1>

<form action = "/AddGame" method = "POST" >
    <label>Nazwa Gry</label>
    <input type = "text" name="game_name">
    <br>
    <label>Producent</label>
    <input type = "text" name="dev">
    <br>
    <label>Rok produkcji</label>
    <input type="text" name = "year">
    <br>
    <label>Gatunek</label>
    <input type = "text" name="type">
    <input type = "submit" name = "submit">
</form>
<a href="/">Strona Główna</a>
</body>
</html> 