<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Dodaj użytkownika</title>
<link rel="stylesheet" href="mystyle.css">
</head>
<body>
<h1> Dodaj użytkownika </h1>
<form action = "/AddUser" method = "POST" >
    <label>login</label>
    <input type = "text" name="user_name">
    <br>
    <label>email</label>
    <input type = "text" name="email">
    <br>
    <label>hasło</label>
    <input type = "password" name="password">
    <input type = "submit" name = "submit">
</form>
<a href="/">Strona Główna</a>
</body>
</html>