<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Dane Gier</title>
<link rel="stylesheet" href="mystyle.css">


</head>
<body>
    <h1> Game DATA </h1>
<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
      text-align: left;
    }
    </style>
<table style="width:100%">
    <tr>
        <th>gra</th>
        <th>deweloper</th>
        <th>rok wydania</th>
        <th>typ</th>
      </tr>
      
        <% MyData.forEach(function(data){ %>
        <tr>
            <th> <%= data.name %></th> 
            <th> <%= data.dev %> </th> 
            <th> <%= data.rl %> </th> 
            <th> <%= data.type %> </th>
        </tr>
        <% }) %>
    
  </table>

  <a href="/">Strona Główna</a>
</body>
</html>


