<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Strona Główna</title>
<link rel="stylesheet" href="mystyle.css">
</head>
<body>
    <h1> Login </h1>
    <form action = "/log_in_post" method = "POST">
    <label>login</label>
    <input type = "text" name="usrname">
    <br>
    <label>hasło</label>
    <input type="password" name = "psw">
    <br>
    <input type = "submit" name = "submit"> 
    </form>
    <a href="/">Strona Główna</a>
</body>
</html>