<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Opinie i oceny</title>
<link rel="stylesheet" href="mystyle.css">
</head>
<body>
<h1> Wybierz szukaną grę </h1>
<form action = "/getOpinions", method="POST">
<select name = "game_name">
    <% MyData.forEach(function(data){ %>
        <option value="<%= data.game_name %>"><%= data.game_name %></option>
    <% }) %>
</select>
<input type = "submit">
</form>
<a href="/">Strona Główna</a>
</body>
</html>