<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Opinie użytkownika</title>
<link rel="stylesheet" href="mystyle.css">
</head>
<body>
<h1> Wyszukaj uytkownika </h1>
<form action = "/searchUser", method="POST">
<input name = "user_name" type="text">
</select>
<input type = "submit">
</form>
<a href="/">Strona Główna</a>
</body>
</html>