<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Strona Główna</title>
<link rel="stylesheet" href="mystyle.css">
</head>
<body>
<h1> Main Page </h1>

<br>
<form action = "/" type = "get">
<button type="submit" formaction = "/GetAllGames" class="mbtn">Lista Gier</button>
<button type="submit" formaction = "/GetAllDependencies" class="mbtn">Wszystkie zakupy</button>
<button type="submit" formaction = "/getOpinionsPage" class="mbtn">Oceny gier</button>
<br>
<button type="submit" formaction = "/log_in_get" class="mbtn">Zaloguj sie</button>
<button type="submit" formaction = "/AddNewUser" class="mbtn">Rejestracja</button>
</form>
</body>
</html>